:root {
  --color-text: #ffffffde;
  --color-background: #31363f;
  --color-background-secondary: #eeeeee;
  --color-background-button: #222831;
  --color-text-primary: #000;
  --color-text-secondary: #eeeeee;
  --border-radius: 8px;
}
