.container {
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: fit-content;
}

.container > h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.container label {
    font-size: 24px;
}

.container input {
    width: 80%;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    border: 1px solid lightgray;
    margin: 10px 0 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.container .buttonContainer button {
    background-color: #222831;
    color: #eeeeee;
    width: 45%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container > label {
    display: flex;
    flex-direction: column;
}

.container .buttonContainer button:last-child {
    width: 100%;
}

.spinner {
    animation: spinner 1s infinite linear;
    margin-left: 10px;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.APIButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
