.App {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding-top: 100px;
  grid-auto-rows: min-content;
}

@media screen and (width < 769px) {
  .App {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
